<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="./../assets/css/index.css">
</head>
<body>
    <h1>Zwykła Strona Internetowa</h1>
    <h3>Zajęcia AFM</h3>
    <h1>{{ pageTitle }}</h1>
    <h2>{{subTitle }}</h2>
    <h2>{{subsubTitle}}</h2>
    <h3>{{ subsubsubTitle}}</h3>
    <input type="text" id="AA">
    <button id="BB">Klik</button>
    <p id="CC"></p>
    
    <script src="./../js/func.js"></script>
</body>
</html>